.trait {
  width: calc(100% - 40px);
  min-width: calc(100% - 40px);
  max-width: calc(100% - 40px);
  scroll-snap-align: center;
  flex: none;

  img {
    max-width: 100px;
    border-radius: 1000px;
    margin-bottom: 20px;
    background-color: #0004;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    aspect-ratio: 1/1;
  }
  
  .character {
    flex: none;
    height: calc(100% - 40px);
    min-width: calc(100% - 40px);
    max-height: calc(100% - 40px);
    scroll-snap-align: center;
  }
}

.traitsMarquee, .characters {
  scroll-snap-type: x mandatory;
}
